<div class="body-content">
    <div id="content">
        <div class="board-wrapper">
            <div class="board-main-content">
                <div class="list-wrapper" *ngFor="let categ of categories">
                    <div class="list-header">
                        <div class="column">
                            <p>{{ categ.title }}</p>
                            <div class="list-option">
                                <div class="dropbtn">...</div>
                                <div id="list-dropdown" class="dropdown-content">
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="add-list-wrapper">
                    <a mat-button ></a>
                </div>
            </div>
        </div>
    </div>  
</div>