<div class="dashboard">
    <div class="dashboard-header">
        <a class="logo" href="/dashboard">
            <span class="trello-logo-inside"></span>
                <div class="logo-trello">
            </div>
        </a>
    </div>
    <div class="body-content">
        <div id="content">
            <div class="board-wrapper">
                <div class="board-main-content">
                    <div class="list-wrapper" *ngFor="let categ of categories; index as i">
                        <div class="list-header">
                            <div class="column">

                                <p class="category-title" *ngIf="!categories[i].editing" (click)="onEditingCategory(i)">{{ categ.title }}</p>
                                <input class="inputEdit" *ngIf="categories[i].editing" [(ngModel)]="categories[i].title" (focusout)="onEditCategory(i,categ.title)" autofocus>

                                <div class="list-option">
                                    <div class="delete-list-btn" (click)="onDelete(i,categ.id)"><mat-icon>delete</mat-icon></div>
                                </div>
                                <app-card [category]="categ"></app-card>                          
                            </div>                                               
                        </div>                    
                    </div>
                    <div class="add-list-wrapper">
                        <ng-container *ngIf="!isShowAddList">
                            <button class="btn open-add-list" (click)="onAddCategory()" *ngIf="categories.length < 10">
                                <span class="placeholder">
                                    <mat-icon class="add-icon">add</mat-icon>
                                    <span class="text-add-list">Add another list</span>
                                </span>
                            </button>
                        </ng-container>                    
                        <ng-container *ngIf="isShowAddList">
                            <form [formGroup]="inputCategForm" (ngSubmit)="onCreate()" class="input-category-form">
                                <input formControlName="title" placeholder="Enter list title" ngDefaultControl class="form-field">
                                <span class="control-button">
                                    <button type="submit" [disabled]="inputCategForm.invalid" class="btn btn-success">Add List</button>
                                    <div (click)="onCancelCategory()"><i class="material-icons">close</i></div>
                                </span>
                            </form>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

