div {
    display: block;
}
.body-content {
    position: absolute;
    overflow-y: auto;
    outline: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
 
#content {
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    outline: none;
}

/* .board-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
} */

.board-header {
    height: auto;
    padding: 8px 4px 4px 8px;
    position: relative;
    transition: padding .1s ease-in;
}



.board-main-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    transition: margin .1s ease-in;
}

.board-canvas {
    background: linear-gradient(180deg,rgba(0,0,0,.24) 0,rgba(0,0,0,.24) 48px,transparent 80px,transparent);
}
/*
#board {
    user-select: none;
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.list-wrapper {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    
}

.list-wrapper:first-child {
    margin-left: 8px;
}

.list {
    background-color: gray;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}

.list-header {
    flex: 0 0 auto;
    padding: 10px 8px;
    position: relative;
    min-height: 20px;
} */


.list-wrapper {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    flex-direction: row;
    padding-left: 10px;
}

.column {
    width: 272px;
    max-height: 100%;
    background-color: #ebecf0;
    border: 1px solid #ebecf0;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600;
    color: #172b4d;
}

.column p {
    cursor: pointer;
}

.list-header {
    flex: 0 0 auto;
    padding: 10px 0px;
    position: relative;
    min-height: 20px;
}

.list-option {
    position: absolute;
    right: 25px;
    top: 19px;
    z-index: 1;
    font-size: large;
}

.delete-list-btn {
    background-color: #ebecf0;
    border-radius: 3px;
}

.delete-list-btn:hover {
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
}

.add-list-wrapper {
    margin: 0 4px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    flex-direction: row;
    padding: 0 5px;
}

.placeholder {
    display: block;
    text-align: left;
}

.open-add-list {
    width: 272px;
    text-decoration-line: none;
    margin-top: 10px;
    cursor: pointer;
}
.open-add-list:hover {
    background-color: #ebecf0;
}

.add-icon {
    padding-top: 3px;
    margin-right: 2px;
    font-size: 14px;
}

.control-button {
    display: flex;
    margin: 5px 0;
}

.form-field {
    margin-top: 3px;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
    display: block;
    transition: 20s;
    width: 100%;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    padding: 8px 12px;
}

.control-button .btn {
    float: left;
    min-height: 32px;
    height: 32px;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.material-icons {
    padding-top: 3px;
    margin: 0 5px;
    cursor: pointer;
}

.input-category-form {
    width: 272px;
    max-height: 100%;
    background-color: #ebecf0;
    border: 1px solid #ebecf0;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 600;
    color: #172b4d;
}

.open-add-card {
    border-radius: 3px;
    color: #5e6c84;
    display: block;
    flex: 1 0 auto;
    margin: 2px 0 8px 8px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
}

.open-add-card:hover {
    background-color: #ebecf0;
}