<div class="body-content">
    <div id="content">
        <div class="board-wrapper">
            <div class="board-main-content">
                <div class="list-wrapper" *ngFor="let categ of categories">
                    <div class="list-header">
                        <div class="column">
                            <p>{{ categ.title }}</p>
                            <div class="list-option">
                                <div class="delete-list-btn"><mat-icon>delete</mat-icon></div>
                            </div>
                        </div>                        
                    </div>                    
                </div>
                <div class="add-list-wrapper">
                    <button class="btn open-add-list">
                        <span class="placeholder">
                            <span class="icon-add-list"><mat-icon class="add-icon">add</mat-icon></span>
                            <span class="text-add-list">Add another list</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>  
</div>