body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
    display: block;
}

a {
    color: #172b4d;
    background-color: transparent;
    &:hover {
        color: #091e42;
        opacity: 100;
    }
}

.dashboard {
    color: #172b4d;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    .dashboard-header {
        background: rgba(0,0,0,.32);
        height: 32px;
        position: relative;
        overflow: hidden;
        padding: 4px;
        z-index: 10;
        box-sizing: border-box;
        display: flex;
        min-height: 40px;
        justify-content: space-between;
        .logo {
            display: inline-block;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            top: 5px;
            .trello-logo-inside {
                background: {
                    image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png);
                    position: 100% 0;
                    repeat: no-repeat;
                    size: 80px 30px;
                };                
                cursor: pointer;
                display: inline-block;
                height: 30px;
                width: 80px;
                opacity: .5
            }
        }
        .user-icon button {
            display: inline-block;
            border-radius: 25em;
            font-size: 12px;
            background-color: #dfe1e6;
            line-height: 32px;
            width: 32px;
            text-align: center;
            cursor: pointer;
        }
    }
}

.body-content {
    position: absolute;
    overflow-y: auto;
    outline: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .content {
        flex-grow: 1;
        position: relative;
        overflow-y: auto;
        outline: none;
    }
}


.board-main-content {
    height: 100%;
    display: inline-block;
    flex-direction: row;
    margin-left: 0px;
    transition: margin .1s ease-in;
    .list-wrapper {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        flex-direction: row;
        padding-left: 10px;
        .list-header {
            flex: 0 0 auto;
            padding: 10px 0px;
            position: relative;
            min-height: 20px;
            .column {
                width: 272px;
                max-height: 100%;
                background-color: #ebecf0;
                border: 1px solid #ebecf0;
                padding: 5px 5px;
                border-radius: 3px;
                font-weight: 600;
                color: #172b4d;
                .category-title {
                    padding-left: 5px;
                }
                .inputEdit {
                    border-radius: 3px;
                    margin-bottom: 4px;
                    display: block;
                    box-sizing: border-box;
                    border: none;
                    box-shadow: inset 0 0 0 2px #0079bf;
                    padding: 3px;
                    padding-left: 10px;
                    width: 220px;
                }
                .list-option {
                    position: absolute;
                    right: 6px;
                    top: 14px;
                    z-index: 1;
                    font-size: large;
                    .delete-list-btn {
                        background-color: #ebecf0;
                        border-radius: 3px;
                        &:hover {
                            cursor: pointer;
                            background-color: rgba(9,30,66,.08);
                        }
                    }                    
                }
                p {
                    cursor: pointer;
                }
                
            }
        }
    }
}

.add-list-wrapper {
    margin: 0 4px;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    white-space: nowrap;
    flex-direction: row;
    padding: 0 5px;
    .open-add-list {
        width: 272px;
        text-decoration-line: none;
        margin-top: 10px;
        cursor: pointer;
        border: 1px solid #ebecf0;
        &:hover {
            background-color: #ebecf0;
        }
        .placeholder {
            display: block;
            text-align: left;
            .add-icon {
                padding-top: 3px;
                margin-right: 2px;
                font-size: 14px;
            }
        }
    }
}


.input-category-form {
    width: 272px;
    max-height: 100%;
    background-color: #ebecf0;
    border: 1px solid #ebecf0;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 600;
    color: #172b4d;
    .form-field {
        margin-top: 3px;
        background: #fff;
        border: none;
        box-shadow: inset 0 0 0 2px #0079bf;
        display: block;
        transition: 20s;
        width: 100%;
        color: #172b4d;
        box-sizing: border-box;
        -webkit-appearance: none;
        border-radius: 3px;
        padding: 8px 12px;
    }
    .control-button {
        display: flex;
        margin: 5px 0;
        .btn {
            float: left;
            min-height: 32px;
            height: 32px;
            margin-top: 0;
            padding-top: 4px;
            padding-bottom: 4px;
        }
        .material-icons {
            padding-top: 3px;
            margin: 0 5px;
            cursor: pointer;
        }
    }
}
