.trello-main-logo {
    display: block;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.inner-section h1 {
    text-align: center;
    color: #5E6C84;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.inner-section .form-field {
    font-size: 14px;
    background-color: #FAFBFC;
    border: 2px solid #DFE1E6;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    height: 44px;
    -webkit-transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    padding: .5em;
    width: 100%;
}

#password {
    margin-top: 20px;
}

div {
    display: block;
    font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

section {
    display: block;
}

.inner-section {
    width: 100%;
    padding: 0px;
    overflow: visible;
    margin-bottom: 30px;
    text-align: center;
}

.inner-section .login-form {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
}

.inner-section .section-wrapper {
    max-width: 400px;
    display: inline-block;
}

.inner-section a {
    text-decoration: none;
    color: #0052CC;
}

.inner-section a:hover {
    color: #0052CC;
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 16px;
    color: hsl(0,0%,60%);
    text-align: left;
}

.bottom-form-link {
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 0;
}

.login-separator {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-success {
    width: 100%;
    margin-top: 20px;
}

.inner-section .bottom-form-link li {
    display: inline-block;
    list-style: none;
}

li {
    text-align: -webkit-match-parent;
}

.inner-section .bottom-form-link li:not(:first-child)::before {
    content: "\2022";
    margin: 0 8px 0 4px;
}

.google-button {
    background: #fff;
    color: rgba(0,0,0,0.54);
    box-shadow: rgba(0,0,0,0.2) 1px 1px 5px 0;
    border-color: transparent;
    text-align: center;
    border-radius: 3px;
    width: 99%;
    height: 39px;
    padding-top: 0;
    margin-bottom: 0;
    transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
}

// .example-container {
//     position: relative;
//     padding: 5px;
//     background-color: aqua;
//   }
  
//   .example-loading-shade {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 56px;
//     right: 0;
//     background: rgba(0, 0, 0, 0.15);
//     z-index: 1;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .example-card {
//     margin: 5px;
//     padding-bottom: 40px;
//   }