<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <table class="edit-content">
        <tr>
            <td>
                <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
                    <input placeholder="{{action}} First Name" matInput [(ngModel)]="localData.firstName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field *ngIf="action != 'Delete'" [ngStyle]="{'margin-left': '30px'}">
                    <input placeholder="{{action}} Last name" matInput [(ngModel)]="localData.lastName">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field *ngIf="action != 'Delete'">
                    <input placeholder="{{action}} Address" matInput [(ngModel)]="localData.address">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field *ngIf="action != 'Delete' && checkIsAdmin()" [ngStyle]="{'margin-left': '30px'}">
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selectedRole" (selectionChange)="selectionChange()">
                        <mat-option *ngFor="let role of roleList" [value]="role">{{role.role}}</mat-option>
                    </mat-select>
                    <!-- <mat-select [(ngModel)]="selectedRole" (selectionChange)="selectionChange()">
                        <mat-option *ngFor="let role of roleList" [value]="role">{{role.role}}</mat-option>
                    </mat-select> -->
                </mat-form-field>
                <!-- <mat-form-field *ngIf="action != 'Delete'" [ngStyle]="{'margin-left': '30px'}">
                    <input placeholder="{{action}} Role" matInput [(ngModel)]="localData.role">
                </mat-form-field> -->
            </td>
        </tr>
    </table>
  <ng-template #elseTemplate>
    Sure to delete <b>{{localData.userName}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>