<div class="mat-elevation-z8 data-table">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-link"> 
        <button mat-button class="edit-user" (click)="openDialog('Edit', element)">Edit</button> | 
        <button mat-button *ngIf="!(element.role === 'ADMIN')" class="delete-user" (click)="openDialog('Delete', element, dataSource.filteredData.indexOf(element))">Delete</button>  
        <!--<button mat-button *ngIf="!(element.role === 'ADMIN')" class="delete-user" (click)="removeSelectedRows(dataSource.filteredData.indexOf(element))">Delete</button> -->  
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button routerLink="/category" mat-button>Back to Dashboard</button>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>