<div class="card-comment" *ngIf="canReadWrite()">
    <div class="member">
      <span class="member-name">DT</span>                                               
    </div>
    <div class="member-comment">
      <input *ngIf="!isShowAddComment" class="input-comment" placeholder="Write a comment" (click)="ShowAddComment()">
      <ng-container *ngIf="isShowAddComment" class="member-form">
          <form [formGroup]="inputMemberCardForm" (ngSubmit)="onAddComment(card)" class="input-member-card-form">
              <textarea formControlName="textComment"
                        autosize
                        class="text-comment"
                        placeholder="Write a comment"
                        ngDefaultControl autofocus></textarea>
              <span class="control-button">
                  <button type="submit" [disabled]="inputMemberCardForm.invalid" class="btn btn-success">Save</button>
              </span>
          </form>
      </ng-container>                        
    </div>
</div>
<div class="card-comment-list">
    <div class="comment-type" *ngFor="let comment of comments; let i = index">
        <div class="comment-creator">
            <span class="member-name-modal">DT</span>
        </div>
        <div class="comment-desc">
            <span class="comment-desc-member">
                {{comment.creator}}
            </span>
            <div class="comment-desc-container">
                <div class="comment-desc-wrap">
                    <div class="comment-desc-content" *ngIf="!comments[i].editing">
                        <p>{{ comment.content }}</p>
                    </div>
                    <div class="comment-desc-content-editing" *ngIf="comments[i].editing">
                        <ng-container>
                            <form [formGroup]="inputEditCommentForm" (ngSubmit)="onEditComment(i,card)" class="input-comment-edit-form">
                                <textarea formControlName="textCommentEdit"
                                          autosize
                                          class="editCommentTitle"
                                          [ngModel]="comment.content"
                                          ngDefaultControl autofocus></textarea>
                                <span class="control-button">
                                    <button type="submit" [disabled]="inputEditCommentForm.invalid" class="btn btn-success">Save</button> 
                                    <div class="icon-close-add-form" (click)="onCancelEditComment(i)"><i class="material-icons">close</i></div>                                   
                                </span>
                            </form>
                        </ng-container>
                    </div>                    
                </div>
                <div class="comment-desc-edit">
                    <div class="like-comment">
                        <span class="icon-vote-card" (click)="likeComment(i, card.id, comment.id)"><i class="material-icons">thumb_up</i></span>                        
                        <div class="quantity-vote-card" *ngIf="comments[i].likes.length > 0">{{comments[i].likes.length}}</div>                        
                    </div>
                    <div class="comment-edit-del"  *ngIf="userIsAuthenticated && userId === comment.user">
                        <span class="comment-desc-editdel">
                            <a class="edit-action" (click)="onEditingComment(i)">Edit</a> - 
                            <a class="delete-action" (click)="onDelete(comment.id)">Delete</a>
                        </span>
                    </div>                     
                    
                </div>
            </div>
        </div>
        <div class="comment-reaction">

        </div>
    </div>
</div>