.control-button {
    display: flex;
    margin: 8px 0;
    .btn {
        float: left;
        min-height: 32px;
        height: 32px;
        margin-top: 0;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.card-comment {
    position: inherit;
    .member {
        display: inline-flex;
        float: left;
        border-radius: 25em;
        background-color: #dfe1e6;
        height: 32px;
        margin: 0 10px 4px 0;
        width: 32px;
        text-decoration: none;
        .member-name {
            display: block;
            font: {
                size: 12px;
                weight: 700;
            }
            height: 32px;
            left: 0;
            line-height: 32px;
            overflow: hidden;
            text-align: center;
            top: 0;
            width: 100%;
        }
    }
    .member-comment {
        display: inline-block;
        position: relative;
        .input-comment {
            border-radius: 3px;
            padding: 5px 5px;
            width: 600px;
            background: #fff;
            border: none;
            box-shadow: inset 0 0 0 2px white;
        }
        .member-form {
            position: relative;            
        }
    }
}

.text-comment {
    border-radius: 3px;
    padding: 5px 5px;
    width: 600px;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px white;
}

.comment-type {
    margin-top: 20px;
    margin-left: 40px;
    min-height: 32px;
    padding: 8px 0;
    position: relative;
    .comment-creator {
        display: inline-flex;
        float: left;
        border-radius: 25em;
        background-color: #dfe1e6;
        position: absolute;
        width: 32px;
        left: -40px;
        .member-name-modal {
            display: block;
            font: {
                size: 12px;
                weight: 700;
            }
            height: 32px;
            left: 0;
            line-height: 32px;
            overflow: hidden;
            text-align: center;
            top: 0;
            width: 100%;
        }
    }
}

.comment-desc-wrap {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    box-sizing: border-box;
    display: inline-block;
    clear: both;
    margin: 4px 2px 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 602px;
    .comment-desc-content {
        padding: 5px 10px;
        p {
            text-overflow: ellipsis;
            word-wrap: break-word;
        }
    }
}

.like-comment {
    display: inline-block;
    &:hover {
        background-color: #d8dae2;
        border-radius: 3px;
    }
    .icon-vote-card {
        cursor: pointer;
        background-clip: padding-box;
        background-origin: padding-box;
        border-radius: 3px;
        opacity: 0.8;         
    }
    .quantity-vote-card {
        display: inline-block;
        position: absolute;
        margin-top: 2px;
        margin-left: 4px;
    }
}

.comment-edit-del {
    display: inline-block;
    position: absolute;
    margin-top: 1px;
    margin-left: 10px;
    .comment-desc-editdel {    
        font-size: 12px;
        margin: 0;
        min-width: 110px;
        color: #5e6c84;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
        .edit-action{
            cursor: pointer;
        }
        .delete-action {
            @extend .edit-action;
        }    
    }
}


.comment-desc-content-editing {
    padding: 8px 12px;
    position: relative;
    transition-duration: 85ms;
    transition-timing-function: ease;
    transition-property: padding-bottom;
    width: 602px;
    display: block;
    box-shadow: 0 4px 8px -2px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    .editCommentTitle {
        background: #fff;
        border: 0;
        box: {
            sizing: content-box;
            shadow: none;
        }
        height: 20px;
        margin: 0;
        min-height: 20px;
        padding: 0;
        width: 100%;
        resize: none;
        outline: none;
    }
    .icon-close-add-form {
        padding-top: 3px;
        margin: 0 5px;
        cursor: pointer;
    }
}
