.control-button {
    display: flex;
    margin: 8px 0;
}

.control-button .btn {
    float: left;
    min-height: 32px;
    height: 32px;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.card-comment {
    position: inherit;
}

.member {
    display: inline-flex;
    float: left;
    border-radius: 25em;
    background-color: #dfe1e6;
    height: 32px;
    margin: 0 10px 4px 0;
    width: 32px;
    text-decoration: none;
}

.member-name {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    text-align: center;
    top: 0;
    width: 100%;
}

.member-comment {
    display: inline-block;
    position: relative;
}

.input-comment {
    border-radius: 3px;
    padding: 5px 5px;
    width: 600px;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px white;
}

.text-comment {
    border-radius: 3px;
    padding: 5px 5px;
    width: 600px;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px white;
}
.member-form {
    position: relative;
}

.comment-type {
    margin-top: 20px;
    margin-left: 40px;
    min-height: 32px;
    padding: 8px 0;
    position: relative;
}

.comment-creator {
    display: inline-flex;
    float: left;
    border-radius: 25em;
    background-color: #dfe1e6;
    position: absolute;
    width: 32px;
    left: -40px;
}

.comment-desc-wrap {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px -1px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    box-sizing: border-box;
    clear: both;
    display: inline-block;
    margin: 4px 2px 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 602px;
}

.comment-desc-content {
    padding: 5px 10px;
}

.comment-desc-content p {
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.comment-desc-editdel {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    min-width: 110px;
    color: #5e6c84;
    cursor: pointer;
}

.comment-desc-editdel a:hover {
    text-decoration: underline;
}