<div class="card-list" cdkDropList  (cdkDropListDropped)="drop($event)">
    <div class="card-list-name" *ngFor="let card of cards;let i = index" cdkDrag>
        <a class="card-title">
            <div class="card-title-info">
                <span class="icon-edit-card" *ngIf="!cards[i].editing" (click)="onEditingCard(i)"><i class="material-icons">edit</i></span>
                <div class="list-card-details" *ngIf="!cards[i].editing" (click)="openLg(cardmodal)">
                    <span class="list-card-title">
                        {{card.title}}
                    </span>
                </div>
                <ng-container *ngIf="cards[i].editing">
                    <form [formGroup]="inputEditCardForm" (ngSubmit)="onEditCard(i,category)" class="input-card-edit-form">
                        <textarea formControlName="textCardEdit"
                                  autosize [maxRows]="7"
                                  class="editCardTitle"
                                  [ngModel]="card.title"
                                  ngDefaultControl autofocus></textarea>
                        <span class="control-button">
                            <button type="submit" [disabled]="inputEditCardForm.invalid" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" (click)="onDeleteCard(i,card.id)">Delete</button>
                            <div (click)="onCancelEditCard(i)"><i class="material-icons">close</i></div>
                        </span>
                    </form>
                </ng-container>
            </div>            
        </a>
        <div>
            <ng-template #cardmodal let-modal>
                <div class="modal-header">
                    <div class="icon-modal-title">
                        <span><i class="material-icons">list</i></span>
                    </div>                    
                    <div class="modal-title card-modal-title">
                        <h4>{{ cards[i].title}}</h4>
                    </div>
                    <div class="card-modal-category">
                        <p class="current-list">in list <a > {{category.title}}</a>
                        </p>
                    </div>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                  
                  <app-comment [cardSelected]="card"></app-comment>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                </div> -->
            </ng-template>   
        </div>
    </div>
    <div class="card-composer">
        <ng-container *ngIf="!isShowAddCard">
            <button class="btn open-add-card" (click)="onAddCard()">
                <span class="placeholder">
                    <mat-icon class="add-icon">add</mat-icon>
                    <span class="text-add-card">Add a card</span>
                </span>
            </button>
        </ng-container>
        <ng-container *ngIf="isShowAddCard" class="list-card">
            <form [formGroup]="inputCardForm" (ngSubmit)="onCreate(category)" class="input-card-form">
                <textarea autosize [maxRows]="7" formControlName="title" placeholder="Enter a title for this card" ngDefaultControl class="form-field"></textarea>
                <span class="control-button">
                    <button type="submit" [disabled]="inputCardForm.invalid" class="btn btn-success">Add Card</button>
                    <div class="icon-close-add-form" (click)="onCancelCard()"><i class="material-icons">close</i></div>
                </span>
            </form>
        </ng-container>
    </div> 
    
</div>

