a {
    color: #172b4d;
}

.open-add-card {
    width: -webkit-fill-available;
    border-radius: 3px;
    background-color: #ebecf0;
    color: #172b4d;
    display: block;
    flex: 1 0 auto;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
}

.open-add-card:hover {
    background-color: rgba(9,30,66,.08);
}

.placeholder {
    display: block;
    text-align: left;
}

.add-icon {
    padding-top: 3px;
    margin-right: 2px;
    font-size: 14px;
}

.control-button {
    display: flex;
    margin: 8px 0;
}

.control-button .btn {
    float: left;
    min-height: 32px;
    height: 32px;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.icon-close-add-form {
    padding-top: 3px;
    margin: 0 5px;
    cursor: pointer;
}

.card-title {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin: 8px 0;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.card-title:hover {
    background-color: #f4f5f7;
    border-bottom-color: rgba(9,30,66,.25);
}

.card-button {
    display: flex;
    flex-direction: column;
}

.icon-edit-card:hover {
    background-color: #ebecf0;
    border-radius: 3px;
}

.icon-edit-card {
    float: right;
    cursor: pointer;
    background-clip: padding-box;
    background-origin: padding-box;
    border-radius: 3px;
    opacity: .8;
    position: inherit;
    margin: 2px;
}

.icon-edit-card .material-icons {
    font-size: 20px;
    padding: 3px;
}

.list-card-details {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
}

.list-card-title {
    font-weight: normal;
    float: left;
    clear: both;
    display: block;
    max-width: 220px;
    height: auto;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre-line;
    color: #172b4d;
}

.list-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.input-card-form {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.input-card-edit-form {
    width: 260px;
    max-height: 100%;
    background-color: #ebecf0;
    border: 1px solid #ebecf0;
    font-weight: 600;
    color: #172b4d;
}

.editCardTitle {
    border-radius: 3px;
    margin: 2px 0;
    width: inherit;
    max-width: 260px;
    min-height: 54px;
    max-height: 162px;
    resize: none;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
}


.form-field {
    margin-top: 3px;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px white;
    display: block;
    width: 100%;
    max-height: 162px;
    min-height: 54px;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    padding: 6px 8px 2px;
    margin-bottom: 4px;
    resize: none;
}

.quick-card-editor {
    background: rgba(0,0,0,.6);
    bottom: 0;
    color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.quick-card-editor-close-icon {
    color: hsla(0,0%,100%,.6);
    padding: 9px;
    position: absolute;
    right: 0;
    top: 0;
    transition-property: transform,color;
    transition-duration: .15s;
}

.card-composer {
    cursor: pointer;
}

.modal-header {
    background-color: #ebecf0;
}

.modal-body {
    background-color: #ebecf0;
}

.icon-modal-title {
    font-size: 20px;
    color: #42526e;
}

.card-modal-title {
    margin: -3px 4px 2px;
}

.card-modal-category {
    cursor: default;
    display: inline-block;
    margin: 4px 8px 4px 2px;
}

.current-list {
    display: inline-block;
}
