a {
    color: #172b4d;
}

.open-add-card {
    width: -webkit-fill-available;
    border-radius: 3px;
    background-color: #ebecf0;
    color: #172b4d;
    display: block;
    flex: 1 0 auto;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
}

.open-add-card:hover {
    background-color: rgba(9,30,66,.08);
}

.placeholder {
    display: block;
    text-align: left;
}

.add-icon {
    padding-top: 3px;
    margin-right: 2px;
    font-size: 14px;
}

.form-field {
    margin-top: 3px;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 2px white;
    display: block;
    transition: 20s;
    width: 100%;
    height: 54px;
    color: #172b4d;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    padding: 8px 12px;
}

.control-button {
    display: flex;
    margin: 8px 0;
}

.control-button .btn {
    float: left;
    min-height: 32px;
    height: 32px;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.icon-close-add-form {
    padding-top: 3px;
    margin: 0 5px;
    cursor: pointer;
}

.input-card-form {
    max-height: 100%;
    background-color: #ebecf0;
    border: 1px solid #ebecf0;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 600;
    color: #172b4d;
}

.card-title {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin: 8px 0;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.card-title:hover {
    background-color: #f4f5f7;
    border-bottom-color: rgba(9,30,66,.25);
}

.card-button {
    display: flex;
    flex-direction: column;
}

.icon-edit-card:hover {
    background-color: #ebecf0;
    border-radius: 3px;
}

.icon-edit-card {
    float: right;
    font-size: 14px;
    cursor: pointer;
}