<div>
    <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/trello-header-logos/76ceb1faa939ede03abacb6efacdde16/trello-logo-blue.svg" 
     alt="Trello" class="trello-main-logo">

    <section class="inner-section">
        <div class="section-wrapper">
            <div class="signup-form">
                <h1>Sign up to Trello</h1>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="sign-up-container">
                    <!-- <input
                     type="email" 
                     name="email" 
                     class="form-field" 
                     placeholder="Enter email"
                     #userNameInput>
                    <input
                     type="password" 
                     name="password" 
                     class="form-field" 
                     placeholder="Enter password"
                     #passwordInput> -->
                    <input formControlName="username" placeholder="Enter email" class="form-field">
                    <!-- <div *ngIf="registerForm.get('username').hasError('required')">
                        Please enter email!
                    </div> -->
                    <div *ngIf="registerForm.get('username').hasError('email') && registerForm.get('username').touched">
                        Wrong pattern!
                    </div>
                    <input formControlName="password" type="password" placeholder="Enter password" class="form-field" id="password">
                    <div *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
                        Minimum 15 characters
                    </div>
                    <p class="text"> By signing up, you confirm that you've read and accepted our 
                        <a href="#" target="_blank">Terms of Service</a> and 
                        <a href="#" target="_blank">Privacy Policy</a> .
                    </p>
                    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success">Sign Up</button>
                </form>
                <form class="signup-google">
                    <div class="login-separator">OR</div>
                    <button type="button" class="google-button">Sign in with Google</button>
                </form>
                <hr>
                <span class="bottom-form-link">
                    <a href="#">Bạn đã có tài khoản? Đăng nhập</a>
                </span>
            </div>            
        </div>
    </section>
</div>

